<a href="https://colab.research.google.com/github/QianFu520/QianFu520/blob/main/FoodSales_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
foodsales = "/content/sales_predictions.csv"
df = pd.read_csv(foodsales)
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [2]:
#1) How many rows and columns?
df.shape

(8523, 12)

In [3]:
#2) What are the datatypes of each variable?
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [7]:
#3) Are there duplicates? If so, drop any duplicates. (Answer: no duplicate)
df.duplicated().sum() #Check for duplicates

0

In [9]:
#4) Identify missing values.
# The "Item_Weight"has 1463 missing values, the "Outlet_Size" has 2410 missing values.
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [25]:
#5) Decide on how to address the missing values and do it! 
#slice the "Item_weight", "Item_Type"
df[["Item_Weight", "Item_Type"]].head(50)

    Item_Weight              Item_Type
0         9.300                  Dairy
1         5.920            Soft Drinks
2        17.500                   Meat
3        19.200  Fruits and Vegetables
4         8.930              Household
5        10.395           Baking Goods
6        13.650            Snack Foods
7           NaN            Snack Foods
8        16.200           Frozen Foods
9        19.200           Frozen Foods
10       11.800  Fruits and Vegetables
11       18.500                  Dairy
12       15.100  Fruits and Vegetables
13       17.600            Snack Foods
14       16.350  Fruits and Vegetables
15        9.000              Breakfast
16       11.800     Health and Hygiene
17        9.000              Breakfast
18          NaN            Hard Drinks
19       13.350                  Dairy
20       18.850            Snack Foods
21          NaN           Baking Goods
22       14.600              Household
23          NaN           Baking Goods
24       13.850           Frozen Foods
25       13.000              Household
26        7.645            Snack Foods
27       11.650            Hard Drinks
28        5.925                  Dairy
29          NaN                 Canned
30       19.250                  Dairy
31       18.600     Health and Hygiene
32       18.700            Snack Foods
33       17.850                 Breads
34       17.500            Soft Drinks
35       10.000     Health and Hygiene
36          NaN  Fruits and Vegetables
37        8.850            Soft Drinks
38          NaN            Snack Foods
39          NaN            Snack Foods
40       13.350                  Dairy
41        9.800                   Meat
42       13.600            Snack Foods
43       21.350                 Canned
44       12.150                 Canned
45        6.420                  Dairy
46       19.600     Health and Hygiene
47       10.000                 Canned
48       15.850           Baking Goods
49          NaN                  Dairy

In [26]:
#find out the average weight of each type of item.
df.groupby("Item_Type")["Item_Weight"].mean()

Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731
Name: Item_Weight, dtype: float64

In [28]:
#find out the average weight of all item weight.
average_weight = df["Item_Weight"].mean()
average_weight

12.857645184135976

In [29]:
# I decided to fill in the missing values with the average weight of all itme weight.
df["Item_Weight"].fillna(average_weight, inplace=True)
df.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [30]:
#There are three types of size
df["Outlet_Size"].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [34]:
#most of the item size is medium size
size = df["Outlet_Size"].mode()
size

0    Medium
dtype: object

In [33]:
#I decided to fill in the missing values in item_size with medium size
df["Outlet_Size"].fillna("medium", inplace=True)
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [35]:
#6) Confirm that there are no missing values after addressing them.
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [36]:
#7) Find and fix any inconsistent categories of data
#Exammine the number of unique values in columns
df.nunique()

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [37]:
#Check the unique values and counts of "Item_Fat_Content"column
df["Item_Fat_Content"].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [40]:
#I can see that there are both"Low fat" and "LF", "Regular" and "reg".I assume these are meant to be the same.so I will replace"LF" with "Low Fat" and replace"reg" with "Regular"
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace("LF", "Low Fat")
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace("reg", "Regular")
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace("low fat", "Low Fat")
df["Item_Fat_Content"].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [41]:
#Check the unique values and counts of "Outlet_Size"column
df["Outlet_Size"].value_counts()

Medium    2793
medium    2410
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [42]:
#I can see that there are both"Medium" and "medium", I assume that there are meant to be the same.so I will replace "medium"with"Medium
df["Outlet_Size"] = df["Outlet_Size"].replace("medium", "Medium")
df["Outlet_Size"].value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [43]:
#Check the unique values and counts of "Outlet_Location_Type"column
#I can see there's no inconsistencies 
df["Outlet_Location_Type"].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [44]:
#Check the unique values and counts of "Outlet_Type"column
#The "Grocery Store"type seems unique in here, but I can't decide if it's valid one or not. so, I decided to keep it, no change.
df["Outlet_Type"].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [46]:
#8) For any numerical columns, obtain the summary statistics of each (min, max, mean)
#I prefer to have less precision in the results,so I used 'round(2)'
df.describe().round(2)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.00,8523.00,8523.00,8523.00,8523.00
mean,12.86,0.07,140.99,1997.83,2181.29
std,4.23,0.05,62.28,8.37,1706.50
min,4.56,0.00,31.29,1985.00,33.29
25%,9.31,0.03,93.83,1987.00,834.25
50%,12.86,0.05,143.01,1999.00,1794.33
75%,16.00,0.09,185.64,2004.00,3101.30
max,21.35,0.33,266.89,2009.00,13086.96